.wellness-wrapper {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}

.wellness-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* GRID */
.wellness-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 22px;
}

/* CARD BOX */
.wellness-card {
  text-align: center;
  cursor: pointer;
}

/* IMAGE BOX WITH ROUNDED BACKGROUND */
.img-box {
  background: #fff;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid #dfdfdf;
}

/* IMAGE */
.wellness-img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

/* DISCOUNT LABEL */
.discount-label {
  background: #f12c7d;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
  margin: 10px auto 5px auto;
}

/* TITLE */
.wellness-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .wellness-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .wellness-img {
    height: 110px;
  }

  .discount-label {
    font-size: 11px;
    padding: 4px 10px;
  }

  .wellness-name {
    font-size: 13px;
  }
}
