.brands-container {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.brands-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.brand-card {
  position: relative;
  border-radius: 20px;
  padding: 20px 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.brand-card:hover {
  transform: scale(1.05);
}

.brand-image {
  width: 190px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
  z-index: 2;
}

.brand-offer {
  font-size: 0.95rem;
  color: #333;
  font-weight: 500;
}

.brand-offer span {
  font-weight: 700;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .brands-grid {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
  }

  .brand-card {
    flex: 0 0 150px;
    scroll-snap-align: center;
  }

  .brand-image {
    width: 90px;
    height: 100px;
  }

  .brand-offer {
    font-size: 0.85rem;
  }
}
