.main-wrapper {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* GRID */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  /* background: #fff; */
  border-radius: 18px;
  text-align: center;
  padding: 15px;
  /* border: 1px solid #f4dcdc; */
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.card-img {
  width: 100%;
  height: 180px;
}

/* DISCOUNT TEXT */
.discount {
  color: #ff1467;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

/* TITLE */
.card-title {
  font-size: 16px;
  font-weight: 600;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .card {
    padding: 10px;
  }

  .card-img {
    height: 80px;
  }

  .title {
    font-size: 26px;
  }
}
